html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background:
    /* Viñeta suave solo en los bordes */
    radial-gradient(
      circle at center,
      rgba(0,0,0,0) 70%,  /* centro transparente */
      rgba(0,0,0,0.8) 75% /* bordes oscuros */
    ),
    linear-gradient(
      rgba(0,0,0,0.2),
      rgba(0,0,0,0.5)
    ),
    url("imagenes/casino-bg.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



/* Viñeteado oscuro */
body::before {
  content: '';
  position: fixed;
  inset: 0;
  pointer-events: none;

  background:
    radial-gradient(
      circle at center,
      transparent 50%,
      rgba(0, 0, 0, 0.9) 100%
    );

  z-index: 1;
}

/* Contenedor de cartas */
#game-container {
  position: fixed;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 2;
}

/* Cartas */
.card {
  position: absolute;
  top: 0;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  filter: drop-shadow(0 6px 10px rgba(0,0,0,0.6));
  will-change: transform, top;
}
